*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
  height: 100vh;
  width: 100%;
  background-color: rgb(229 231 235);
}

.container{
  margin: 120px auto;
  max-width: 500px;
  min-width: 400px;
  width: 100%;
  background-color:white;
  border-radius: 5px;
  padding: 25px;
}

header{
  display: flex;
  align-items: center;
}

.container header h1{
  font-size: 30px;
  font-weight: 600;
}

.container .input{
  display: flex;
  height: 45px;
  width: 100%;
  margin: 20px 0;
}

.container .input-text{
  width: 85%;
  height: 100%;
  border: 1px solid #ccc;
  font-size: 17px;
  border-radius: 3px;
  padding-left: 15px;
}

.container .list{
  max-height: 400px;
  overflow-y: auto;
}

.input button{
  width: 60px;
  height: 100%;
  border: none;
  outline: none;
  background: #8E49E8;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 5px;
}

.list li{
  list-style: none;
  height: 45px;
  line-height: 45px;
  position: relative;
  background: rgb(243 244 246);
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0 15px;
  overflow: hidden;
  font-size: 19px;
}

.delete-btn{
  position: absolute;
  width: 40px;
  height: 100%;
  border: none;
  outline: none;
  right: -45px;
  color: #fff;
  background: rgb(239 68 68);
  font-size: 18px;
  text-align: center;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.list li:hover .delete-btn{
  right: 0;
}

.list .check-item input[type=checkbox]{
  position: absolute;
  width: 24px;
  height: 24px;
  padding: .75em 1em;
  border: 1px solid;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  visibility: hidden;
}

